<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<h1>My list of restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
<% end %>
